.lotus-background-main {
  background-color: var(--lotus-color-mainBg);
}

.lotus-background-secondary {
  background-color: var(--lotus-color-secondaryBg);
}

.lotus-background-primary {
  background-color: var(--lotus-color-primary);
}

.lotus-background-success {
  background-color: var(--lotus-color-success);
}

.lotus-background-danger {
  background-color: var(--lotus-color-danger);
}

.lotus-background-warning {
  background-color: var(--lotus-color-warning);
}

.lotus-background-info {
  background-color: var(--lotus-color-info);
}
