.lotus-border {
  border-width: var(--lotus-border-width);
  border-style: var(--lotus-border-style);
  border-radius: var(--lotus-border-radius);
}

.lotus-border .lotus-border-primary {
  border-color: var(--lotus-color-primary);
}

.lotus-border .lotus-border-success {
  border-color: var(--lotus-color-success);
}

.lotus-border .lotus-border-danger {
  border-color: var(--lotus-color-danger);
}

.lotus-border .lotus-border-warning {
  border-color: var(--lotus-color-warning);
}

.lotus-border .lotus-border-info {
  border-color: var(--lotus-color-info);
}