{
  "semi": true,
  "singleQuote": true,
  "arrowParent": "always",
  "bracketSpacing": true,
  "editorconfig": true,
  "jsxSingleQuote": false,
  "printWidth": 160,
  "tabWidth": 2,
  "trailingComma": "none"
}
